<%# Страница редактирования вопроса %>
<div class="container content-wrapper buffer-both">
  <h1 class="title-medium">Вопросы</h1>

  <div class="column-3-4">
    <div class="user-questions buffer-both">
      <div class="questions-list">
        <% @selected_questions.each do |question| %>
          <%= render partial: 'questions/question', object: question %>
        <% end %>
      </div>
    </div>
  </div>

</div>